<strong>Recover password</strong>

<p>A password recovery request was sent to the email ({{ email }}). If you were not the author of this request, it would be cool to change your password to ensure.</p>

<p>To continue with password recovery, use the {{ token }} or click on the link below:</p>

<a href="{{ link }}">Create new password</a>
